body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    margin-right: 10px;
}

img {
    margin: 10px;
}